<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">PAM 001D</ion-title>
  </ion-toolbar>
</ion-header>


<p class="custom-text">
  Bienvenido a la página de asistenca del Instituto Educativo XYZ. Aprende y crece con nosotros.
</p>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-header>
        <ion-toolbar>
          <div class="titulo_asistencia">
            <h5>Registro de asistencia</h5>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-label position="floating">Nombre del Estudiante</ion-label>
      <ion-input [(ngModel)]="nombreEstudiante"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Asistencia</ion-label>
      <ion-toggle [(ngModel)]="asistencia"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="registrarAsistencia()">Registrar Asistencia</ion-button>
  <ion-list>
    <ion-item *ngFor="let registro of registrosAsistencias">
      <ion-label>{{ registro.nombreEstudiante }}</ion-label>
      <ion-badge slot="end">{{ registro.asistencia ? 'Presente' : 'Ausente' }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <p>Página de Inicio de Duoc UC &copy; 2023</p>
</ion-footer>