<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      Información de Contacto
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="location" slot="start"></ion-icon>
          Dirección: 123 Calle Principal, Ciudad
        </ion-item>
        <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          Teléfono: (123) 456-7890
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          Email: info@institutoedu.com
        </ion-item>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          Sitio web: <a href="https://www.duoc.cl/alumnos/" target="_blank">www.duoc.cl</a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>