<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="contenedor_form_recuperar_contrasena">
    <form action="" id="form_recuperar_contrasena">
      <div class="info_recuperar_contrasena">
        <div class="info_nombre">
          <h4 class="title_info">Correo</h4>
          <input type="text" placeholder="Jobbys27@jobbys.cl" class="input_info">
        </div>
        <div id="botones_recuperar_contrasena">
          <button class="btn_recuperar_contrasena"><a href="../home">Recuperar</a></button>
          <a href="../ingreso">Volver al inicio de sesión</a>
        </div>
      </div>
    </form>
  </div>


</ion-content>
