<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title #titulo size="medium">Ingreso</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="contenedor_form_ingreso">
    <form action="" id="form_ingreso">
      <div class="info_ingreso">
        <div class="info_nombre">
          <h4 class="title_info" position="floating">Usuario</h4>
          <input type="text" placeholder="Jobbys27" class="input_info">
        </div>
        <div class="info_contrasenna">
          <h4 class="title_info">Contraseña</h4>
          <input type="password" placeholder="********" class="input_info">
        </div>
        <div id="botones_ingreso">
          <button class="btn_ingreso"><a href="../home">Ingresar</a></button>
          <a href="../recuperar-contrasena">Recuperar contraseña</a>
          <a href="">Registrarse</a>
        </div>
      </div>
    </form>
  </div>

</ion-content>
