/* Estilos para el fondo y el encabezado */
ion-content {
    --background: #f8f8f8; /* Color de fondo general */
  }
  
  
  ion-toolbar {
    --background: #003b5c; /* Color de fondo de la barra de navegación */
    --color: white; /* Color del texto en la barra de navegación */
  }
  
  
  /* Estilos para el título */
  ion-title {
    font-size: medium;
    font-weight: bold;
  }
  
  
  /* Estilos para los botones */
  ion-button {
    --background: #003b5c; /* Color de fondo del botón */
    --color: white; /* Color del texto del botón */
    margin: 16px 0; /* Margen superior e inferior */
    width: 70px;
    height: 40px;
  }
  
  
  /* Estilos para el contenido principal */
  ion-card {
    margin: 16px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Estilos para el texto de la tarjeta */
  ion-card-content {
    font-size: 16px;
  }
  
  
  /* Estilos personalizados para elementos específicos */
  .duoc-logo {
    max-width: 200px; /* Ancho máximo del logotipo de Duoc UC */
    margin: 0 auto; /* Centrar el logotipo */
  }
  
  
  /* Estilos para el pie de página */
  ion-footer {
    background-color: #003b5c;
    color: white;
    text-align: center;
    padding: 8px 0;
  }

.contenedor_asistencia {
  border: 1px none black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.asistencia_clase {
  background-color: white;
  border: 1px rgba(105, 105, 105, 0.206) solid;
  border-radius: 5px;
  width: 95%;
  height: 60px;
  margin: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titulo_clase {
  width: 75%;
  height: 100%;
  margin: 0 2%;
}
.buton_asistencia_clase {
  width: 20%;
}