<ion-header>
  <ion-toolbar>
    <ion-title>
      Instituto Educativo XYZ
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      Bienvenidos al Instituto Educativo XYZ
    </ion-card-header>
    <ion-card-content>
      Somos una institución comprometida con la educación de calidad.
    </ion-card-content>
  </ion-card>
  <ion-content class="contenedor_asistencia">
    <div class="asistencia_clase">
      <div class="titulo_clase">
        <h5>Programación de Aplicaciones moviles 001D</h5>
      </div>
      <div class="buton_asistencia_clase">
        <ion-button href="../asistencia" color="primary">Registrar</ion-button>
      </div>
    </div>
    <div class="asistencia_clase">
      <div class="titulo_clase">
        <h5>Programación de Aplicaciones moviles 002D</h5>
      </div>
      <div class="buton_asistencia_clase">
        <ion-button href="../asistencia" color="primary">Registrar</ion-button>
      </div>
    </div>
  </ion-content>

  <!-- <ion-button expand="full" href="../asistencia" color="primary">Asistencias</ion-button> -->
</ion-content>
