<ion-header >
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="contenedor_form_registro">
    <form action="" id="form_registro">
      <div class="info_registro">
        <div class="info_nombre">
          <h4 class="title_info" position="floating">Usuario</h4>
          <input type="text" placeholder="Jobbys27" class="input_info">
        </div>
        <div class="info_contrasenna">
          <h4 class="title_info">Contraseña</h4>
          <input type="password" placeholder="********" class="input_info">
        </div>
        <div class="info_contrasenna">
          <h4 class="title_info">Valida tu contraseña</h4>
          <input type="password" placeholder="********" class="input_info">
        </div>
        <div id="botones_registro">
          <button class="btn_registro"><a href="../ingreso">Registrarse</a></button>
          <label for="text">Ya tienes una cuenta?</label><a href="../ingreso">Iniciar sesion</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
